<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie oferty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div style="width: 50%; margin: auto; text-align: center">
    <h1>Otrzymane zgłoszenia</h1><br>
<table class="table">
    <thead>
        <th>Nadawca</th>
        <th>Oferta</th>
        <th>Data wysłania zgłoszenia</th>
    </thead>
    <tbody>
        <tr th:each="message: ${messages}">
            <td th:text="|${message.name} ${message.surname}|"></td>
            <td th:text="|${message.beginDate} - ${message.endDate} - ${message.city}|"></td>
            <td th:text="${message.saveDate}"></td>
        </tr>
    </tbody>
</table>
    <img th:src="@{/logo.png}" style="height: 30px"/>
    <a th:href="@{/}" style="font-size: medium">Powrót do strony głównej</a>
</div>
</body>
</html>