<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autodrom Ruml&Family</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style type="text/css">
        .center-block {
            width:650px;
            padding:30px;
            background-color:#ffffff;
            color:#ec8007;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
<body>
<div class="center-block">
    <img th:src="@{/logo.png}" style="width: 200px"/> <br>
    <h2>Witaj na stronie wesołego miasteczka Ruml&Family!</h2> <br>
    <img th:src="@{/photo.jpg}" style="width: 600px"/> <br>
    <img th:src="@{/facebook.png}" style="height: 30px"/>
    <a href="http://facebook.com/AutodromRuml" style="font-size: medium"> Polub nas na facebooku</a> <br>
    <img th:src="@{/add.png}" style="height: 30px"/>
    <a th:href="@{/send}" style="font-size: medium">Dodaj ofertę</a> <br>
    <img th:src="@{/open.png}" style="height: 30px"/>
    <a th:href="@{/inbox}" style="font-size: medium">Przeglądaj oferty</a> <br>
    <img th:src="@{/fireworks.png}" style="height: 30px"/>
    <a th:href="@{/categories}" style="font-size: medium">Zarządzaj rodzajami wydarzeń</a>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>