<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autodrom Ruml&Family</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
<body>
<div class="center-block">
    <h1 class="headtext">Witaj na stronie wesołego miasteczka Ruml&Family!</h1> <br>
    <img th:src="@{/logo.png}" style="width: 200px"/> <br>
    <img th:src="@{/photo.jpg}" style="width: 600px"/> <br>
    <br>
    <img th:src="@{/facebook.png}" style="height: 30px"/>
    <a href="http://facebook.com/AutodromRuml"> Polub nas na facebooku</a> <br>
    <br>
    <img th:src="@{/add.png}" style="height: 30px"/>
    <a th:href="@{/send}">Dodaj ofertę</a> <br>
    <br>
    <img th:src="@{/mailbox.png}" style="height: 30px"/>
    <a th:href="@{/inbox}">Przeglądaj oferty</a> <br>
    <br>
    <img th:src="@{/fireworks.png}" style="height: 30px"/>
    <a th:href="@{/categories}">Zarządzaj rodzajami wydarzeń</a>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>