<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wyślij ofertę</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
</head>
<body>
<div class="center-block"; style="width: 50%; margin: auto; text-align: center">
    <h1 class="headtext">Podaj szczegóły oferty</h1><br>
    <form action="/save" th:object="${newMessage}" method="post">
        <h2>Dane zgłaszającego</h2><br>
        <div class="form-group">
            <label for="name">Imię</label>
            <input type="text" class="form-control" id="name" th:field="*{name}"
                   required pattern="[-a-żA-Ż ]+" title="Należy wprowadzać tylko małe i wielkie litery oraz spacje">
        </div>
        <div class="form-group">
            <label for="surname">Nazwisko</label>
            <input type="text" class="form-control" id="surname" th:field="*{surname}"
                   required pattern="[-a-żA-Ż ]+" title="Należy wprowadzać tylko małe i wielkie litery oraz spacje">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Numer telefonu</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"
                   required pattern="[+0-9]{9,14}" title="Należy wprowadzić 9-14 cyfr, mogą być poprzedzone numerem kierunkowym kraju, np. +48">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
        </div>
        <br>
        <h2>Dane dotyczące wydarzenia</h2><br>
        <div class="form-group">
            <label for="beginDate">Data rozpoczęcia</label>
            <input type="date" class="form-control" id="beginDate" th:field="*{beginDate}" required>
        </div>
        <div class="form-group">
            <label for="endDate">Data zakończenia</label>
            <input type="date" class="form-control" id="endDate" th:field="*{endDate}" required>
        </div>
        <div class="form-group">
            <label for="city">Miejscowość</label>
            <input type="text" class="form-control" id="city" th:field="*{city}"
                   required pattern="[-a-żA-Ż ]+" title="Należy wprowadzać tylko małe i wielkie litery oraz spacje">
        </div>
        <div class="form-group">
            <label for="celebrity">Gwiazda wieczoru</label>
            <input type="text" class="form-control" id="celebrity" th:field="*{celebrity}">
        </div>
        <div class="form-group">
            <label for="category">Rodzaj wydarzenia</label>
            <select th:field="*{category}" class="form-control" id="category" required>
                <option value="">--</option>
                <option th:each="category: ${categories}"
                        th:value="${category.id}"
                        th:utext="${category.name}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Dodatkowe informacje</label>
            <textarea class="form-control" id="description" rows="10" th:field="*{description}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>

    <img th:src="@{/mailbox.png}" style="height: 30px"/>
    <a th:href="@{/inbox}" style="font-size: medium">Powrót do wszystkich ofert</a><br>
    <img th:src="@{/logo.png}" style="height: 30px"/>
    <a th:href="@{/}" style="font-size: medium">Powrót do strony głównej</a>

</div>
</body>
</html>